<!DOCTYPE html>
<html lang="vn">

<head>
    <title>Tra cứu Giấy chứng nhận</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="webcam" content="use">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Haihv.Elis.Tool.TraCuuGcn.Web-App.styles.css"]"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @*<script src="@UrlZxing"></script>
    <script src="@BarcodeScannerJs"></script>*@
</body>

</html>

@*@code
{
    private const string UrlZxing = "https://unpkg.com/@zxing/library@latest";
    private const  string BarcodeScannerJs = "./_content/Haihv.Elis.Tool.TraCuuGcn.WebLib/barcodeScanner.js?v=latest";
}*@
