@inject IJSRuntime JsRuntime
@inject ZxingService ZxingService
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@implements IAsyncDisposable
@attribute [StreamRendering]

@if (!_isLoaded)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
    <MudAlert Severity="Severity.Info" Dense="true">
        <MudText Typo="Typo.body2">@_loadingMessage</MudText>
    </MudAlert>
}
else
{
    <MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center">
        <MudTextField @bind-Value="@_result" Label="Nhập thông tin tìm kiếm"
                      HelperText="Số phát hành (Serial), Mã Giấy chứng nhận, Mã vạch, Mã Qr"/>
        <MudIconButton Color="Color.Primary"
                       Size="Size.Small"
                       Icon="@Icons.Material.Filled.Search"
                       OnClick="OnClickSearch"/>
        <MudFileUpload T="IBrowserFile" FilesChanged="HandleImageUpload!">
            <ActivatorContent>
                <MudIconButton Color="Color.Primary"
                               Size="Size.Small"
                               Icon="@Icons.Material.Filled.Image">
                </MudIconButton>
            </ActivatorContent>
        </MudFileUpload>
        <MudIconButton Color="Color.Primary" Disabled="!_hasCamera"
                       Size="Size.Small"
                       Icon="@Icons.Material.Filled.QrCodeScanner"
                       @onclick="ToggleCamera"/>
    </MudStack>
    <div class="scanner-container" style="@(_isCameraActive ? "display: flex;" : "display: none;")">
        <video class="video @(_isCameraActive ? "video-active" : "")" id="camera-preview" @ref="_videoElement">
        </video>
        <MudButton class="camera-stop-button"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Stop"
                   @onclick="ToggleCamera">
            Dừng quét
        </MudButton>
    </div>
}
<style>
    .scanner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
    }

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1001;
    }
    .camera-stop-button {
        position: absolute;
        bottom: 58px;
        right: 10px;
        z-index: 1002;
    }
</style>

@code {
    [Parameter] public bool AutoStopCamera { get; set; }
    [Parameter] public string Result { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ResultChanged { get; set; }
    private ElementReference _videoElement;
    private bool _hasCamera;
    private bool _isCameraActive;
    private IBrowserFile? _uploadedImage;
    private string _result = string.Empty;
    private string _errorMessage = string.Empty;
    private bool _isLoaded;
    private string _loadingMessage = "Đang tải thư viện quét mã QR...";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ZxingService.InitializeAsync();
            _hasCamera = ZxingService.HasCamera();
            _isLoaded = true;
            StateHasChanged();
        }
    }
    
    private async Task ToggleCamera()
    {
        if (!_isCameraActive)
        {
            await ZxingService.StartCameraScan(_videoElement, DotNetObjectReference.Create(this));
        }
        else
        {
            await ZxingService.StopCameraScan();
        }

        _isCameraActive = !_isCameraActive;
    }
    
    [JSInvokable]
    public void HandleScanResult(string text)
    {
        _result = text;
        _errorMessage = string.Empty;
        Result = _result;
        ResultChanged.InvokeAsync(_result);
        if (AutoStopCamera)
        {
            _ = ZxingService.StopCameraScan();
            _isCameraActive = false;
        }
        StateHasChanged();
    }

    private async Task HandleImageUpload(IBrowserFile file)
    {
        _uploadedImage = file;
        _errorMessage = string.Empty;
        await ScanFromImage();
    }

    private async Task ScanFromImage()
    {
        if (_uploadedImage == null) return;

        try
        {
            _result = await ZxingService.ScanFromImage(_uploadedImage);
            Result = _result;
            await ResultChanged.InvokeAsync(_result);
            _errorMessage = string.Empty;
        }
        catch (JSException jsEx) when (jsEx.Message.Contains("Không tìm thấy mã trong ảnh"))
        {
            _errorMessage = "Không tìm thấy mã trong ảnh. Vui lòng thử lại với ảnh khác.";
        }
        catch (Exception ex)
        {
            _errorMessage = $"Lỗi ảnh: {ex.Message}";
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_isCameraActive)
        {
            await ZxingService.StopCameraScan();
        }
    }

    private void OnClickSearch()
    {
        Result = _result;
        ResultChanged.InvokeAsync(_result);
    }

}