@inherits LayoutComponentBase
@attribute [StreamRendering]
@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>
@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>

@if (_isInitialized)
{
    <MudLayout>
        <MudAppBar>
            <MudAvatar Class="mr-2">
                <MudImage Src="./logo.png"></MudImage>
            </MudAvatar>
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudText Typo="Typo.subtitle1">
                    Tra cứu thông tin Giấy chứng nhận
                </MudText>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.subtitle2">
                        Tra cứu thông tin
                    </MudText>
                    <MudText Typo="Typo.subtitle2">
                        Giấy chứng nhận
                    </MudText>
                </MudStack>
            </MudHidden>
            <MudSpacer/>
            <LogInOrOut/>
            <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                                 Icon="@Icons.Material.Filled.DarkMode"
                                 Color="@Color.Error"
                                 Size="Size.Small"
                                 ToggledIcon="@Icons.Material.Filled.LightMode" ToggledColor="@Color.Default"/>
            <MudIconButton
                Icon="@Icons.Custom.Brands.GitHub"
                Size="Size.Small"
                Color="Color.Inherit"
                Href="@UrlGitHub"
                Target="_blank"/>
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
        <MudAppBar Bottom="true" Dense="true" Color="Color.Dark">
            <MudText Typo="Typo.caption">
                © @(DateTime.Today.Year) vpdkbacninh.vn | haihv.vn
            </MudText>
            <MudSpacer/>
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <Version/>
                </MudHidden>
                <About/>
            </MudStack>
        </MudAppBar>
    </MudLayout>
}
else
{
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="height: 100vh">
        <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true"/>
        <MudAlert Severity="Severity.Info" Dense="true">
            <MudText Typo="Typo.body2">Đang khởi tạo...</MudText>
        </MudAlert>
    </MudStack>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

